
@charset "utf-8";
/*
    Author: Beckham Le
    Date: 9/30/19
*/


html {
	height: 100%;
	margin: 0; padding: 0; border: 0;
}

body {
    background-color: black;
    color: white;
}

div.col-1-4 a{
  display: block;
  background-color: black;
  font-size: 1.4em;
  line-height: 1.8em;
  text-align: center;
  
}  

img#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header{
  background-color: white;
}

ul.l1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  
  li.l1 {
    float: left;
  }
  
  li.l1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.l1 a:hover {
    background-color: #111;
  }
  
